version: "3.7"

services:
  server:
    image: ndy40/production:nginx-CURRENT_TAG
    depends_on:
      - api
    env_file:
      - .env
    networks:
      - httpsnet
      - lgs_net
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.lsg.rule=Host(`${DOMAIN}`)"
        - "traefik.http.routers.lsg.middlewares=https-redirect"
        - "traefik.http.routers.lsg-secure.tls=true"
        - "traefik.http.routers.lsg-secure.rule=Host(`${DOMAIN}`)"
        - "traefik.http.routers.lsg-secure.entrypoints=websecure"
        - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
        - "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true"
        - "traefik.http.routers.lsg-secure.tls.certresolver=default"

  api:
    image: ndy40/production:php-CURRENT_TAG
    restart: on-failure
    env_file:
      - .env
    networks:
      - lgs_net
      - internal_db
    labels:
        - "traefik.enable=false"
networks:
  lgs_net:
  httpsnet:
    external: true
  internal_db:
    external: true




