<html>
    <head><title>Reset Password Email</title></head>
    <bod>
        <p>Hi {{ first_name }}</p>

        <p>To reset your password click the link <a href="{{ reset_link }}">Reset Password</a></p>

        <p>Regards,</p>
        <p>Support</p>
    </bod>
</html>