<html>
    <head><title>Welcome Email</title></head>
    <body>
        <p>Hi {{ name }},</p>
        <p>Welcome to the email service</p>
        <a href="{{ activation_link }}">Activation Link</a>

        <p>cheers</p>
        <p>Admin</p>
    </body>
</html>